<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nav Bar</title>
    </head>
    <header>
        <img class = "logo" src = "./images/logo.png" alt = "logo">
        <nav> 
            <ul class='topnav'> 
                <a href="/">Home</a>
                <a href="/users">Student Information</a>
                <a href="/projects">Projects</a>
            </ul> 
        </nav> 
        <a class = "login" href = "#"><button>Log In</button></a>
        <a class = "logout" href = "#"><button>Log Out</button></a>

    </header>
</html>
