<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Nav Bar</title>
    </head>
    <header>
        <img class = "logo" src = "./images/logo.png" alt = "logo">
        <nav> 
            <ul class='topnav'> 
                <a href="/">Home</a>
                <a href="/users">Student Information</a>
                {{!-- <a href="/projects">Projects</a> --}}
                <div class="dropdown-menu">
                    <button class="menu-btn" >Projects
                         <i class="fa fa-caret-down"></i>
                    </button>
                        <div class="menu-content">
                        <a class="links-hidden" href="/projects">Project Descriptions</a>
                        <a class="links-hidden" href="#">{{Projects}}</a>
                    </div>
                </div>
            </ul> 
        </nav> 
        <a class = "login" href = "#"><button>Log In</button></a>
        <a class = "logout" href = "#"><button>Log Out</button></a>

    </header>
</html>
