<nav> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<div class='topnav'> 

<a class = "active" href="/">Home</a>

<a href="/users">Student Information</a>

<a href="/projects">Projects</a>

</div> 

</nav> 
