<!-- header.hbs-->

<header>
    <img class="logo" src="/images/logo.png" alt="logo">
    <nav>
        <ul class='topnav'>
            <a href="/">Home</a>
            <a href="/users">Student Information</a>
            <div class="dropdown-menu">
                <button class="menu-btn">Projects
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="menu-content">
                    <a class="links-hidden" href="/projects">Project Descriptions</a>
                    <a class="links-hidden" href="/project-entries">All Project Data</a>

                </div>
            </div>
        </ul>
    </nav>
    <a class="login" href="#"><button>Log In</button></a>
    <a class="logout" href="#"><button>Log Out</button></a>

</header>