  <!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Citizen Science Application for Kids</title>
    <link href="./css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    {{>header}} 
    {{{body}}}

    
</body>
</html>
