<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<title>Welcome to the Citizen Science Application!</title>
</head>

<h1>Welcome!</h1>
  <p>
    Welcome to the Citizen Science Application. This is the companion admin portal.
  </p>

<div id="welcome" style="display: block"></div>
</html>