<div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb  m-2">
        <li class="breadcrumb-item"><a href="/projects"> Projects </a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Project</li>
      </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5">
            <h3>Create a project.</h3>
            <div class="card " style="background-color: #f5f5f5; border: none;">
                <div class="card-body">
                    <label class="form-label mt-4" for="ProjectName"> Name </label>
                    <input type="text" class="form-control" id="ProjectName" placeholder="Enter a Project Name"/>
                    <div id="project-name-err" style="color: red; display: none;">Please provide a valid project name.</div>

                    <input type="hidden" name="ProjectType" id="ProjectType" value="Image & Geolocation"/>

                    <label class="form-label mt-4" for="ProjectDescription"> Description</label>
                    <textarea class="form-control" id="ProjectDescription" rows="3" >Enter a description</textarea>
                    <div id="project-descripton-err" style="color: red; display: none;">Please provide a valid project description.</div>

                    <input type="hidden" name="ProjectImage" id="ProjectImage" value="placehoder.jpg"/>
                    <button class="btn btn-md btn-dark rounded-pill mt-4 px-5" id="addProjectBtn" >Submit</a>
                    {{!-- <label class="form-label" for="ProjectImage" >Upload Image &#40;PNG, JPG&#41;</label>
                    <input class="form-control form-control-md mt-1" type="file" accept=".jpg,.png"> --}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/validation.helpers.js"></script>
<script src="/js/project-form.helpers.js"></script>
