/* Global Page Design 
Help designing nav bar from:
https://www.youtube.com/watch?v=FEmysQARWFU
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body{
  font-family: "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
  
  background-color: white;
  color: #4b5668;
  margin: 0;
  padding: 100px;
  text-align: center;
  /* outline */
  margin: auto;
  width: device-width;
}
/* li,a,button{
  font-family: "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
  color: white;
  font-size: 16px;
} */


header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

.logo {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 250px;
}

/* Navigaition Bar */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.logo{
  cursor: pointer;
}

.nav_links{
  list-style: none;
}
.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color:#0088a9;
}

.login button{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.login button:hover {
  background-color: rgba(0,136,169,.8);
}

.logout button{
  padding: 9px 25px;
  background-color: gray;
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.logout button:hover {
  background-color:rgb(156, 154, 154);
}

.topnav a {
  float: left;
  color: #black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4b5668;
  color: white;
}




header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
}


h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:  #4b5668;
  
}
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:  #191819;
  
}

/* Table */
table.styled-table {
  display: table;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  columns:100px;

}
tr th{
  text-align: center;
  width: 1%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: thin;
  background-color: #191819;
  color:whitesmoke;


}
/* tr td{
  width: 75%;
  border: thin;
  background-color: #f6f4f2;
  color: #191819;
  padding: 12px;

} */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: rgb(200, 201, 213);
}
tr:hover {background-color: #ddd;}



/* form */
fieldset{
  font-family:  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}
legend{
    font-family:  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}
input{
  font-family:  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}
button{
  font-family:  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;
}



/* .App {
  text-align: center;
} */

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
